@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    width: 100vw;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.buttonTraductor{
    font-family: "Poppins", sans-serif;
    border: #071928, 1px, solid;
    margin-left: 1%;
    margin-right: 1%;
}

.navbar{
    height: 10vh;
}
.sectionNav {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
}

.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
    width: 50%;
    
}
#navBarra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}
#navL{
    font-family: 'Poppins', sans-serif;
}
#navL:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
    height: 2.5rem;
}
#ancla{
    text-decoration-line: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    margin-left: 2%;
}

.divTituloEnseñanza{
    width: 100vw;
    margin: 0%;
    height: 90vh;
    background-color: #071928;
   }
.tituloEnseñanza{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 2.3rem;
    font-weight: bolder;
    font-variant: small-caps;
    color: #d3d5d7de;
    margin-top: 45vh;
}
.subtituloEnseñanzaUno{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #071928;
    font-style: italic;
    height: fit-content;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}
.subtituloEnseñanzaDos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #071928;
    font-style: italic;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}
.subtituloEnseñanzaTres{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #071928;
    font-style: italic;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}

.contenidoUno{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.contenidoDos{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    margin-bottom: 5%;
}
.contenidoTres{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
}
.divParrafoEnseñanzaUno{
    width: 60%;
    margin-right: 3%;
    margin-top: 3%;
}
.sectionEnseñanza{
    width: 100vw;
}
.divSubtituloEnseñanzaUno{
    width: 40%;
    display: table;
}
.divParrafoEnseñanzaDos{
    width: 60%;
    margin-right: 3%;
}
.divSubtituloEnseñanzaDos{
    width: 40%;
    display: table;
    
}
.divParrafoEnseñanzaTres{
    width: 60%;
    margin-right: 3%;
    margin-top: 2%;
}
.divSubtituloEnseñanzaTres{
    width: 40%;
    display: table;
}
.parrafoEnseñanzaUno{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
}

.parrafoEnseñanzaDos{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 5%;
}
.parrafoEnseñanzaDosDos{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 5%;
}
.parrafoEnseñanzaTres{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    text-align: left;
}
.subtituloChicoEnseñanzaTres{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.anclaEnsenianza{
    color: black;
    text-decoration: none;
}
.anclaEnsenianza:hover{
    color: black;
    text-decoration: underline;
}
.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

#navLF{
    display: flex;
    margin-left: 3%;
    font-family: 'Poppins', sans-serif;
}
#navLF:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
   height: 2.5rem;
}
#ancla{
    text-decoration-line: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}
#anclaNav{
    text-decoration-line: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}
.divFooter{
    font-family: 'Poppins', sans-serif;
}
.liFooter:hover{
    text-decoration: underline;
}
.aFooter{
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    body{
        width: 100vw;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    .sectionEnseñanza{
        width: 100vw;
    }
    .mainEnsenianza{
        width: 100vw;
    }
    .fondo{
        width: 100vw;
    }
    .contenedorIcono {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    
    .contenedorNav {
        margin: 0%;
        padding: 0%;
        width: 50%;
        height: 5rem;
    }
    #navBarra{
        width: fit-content;
        margin-right: 5%;
        height: 5rem;
    }
    #navL{
        display: flex;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    #containerNav{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #navL:hover{
        text-decoration: underline;
    }
    #iconoT{
       width: 2rem;
       height: 2rem;
       margin-top: 3%;
       display: table-cell;
       vertical-align: middle;
    }
    #iconoT:hover{
        width: 2.5rem;
       height: 2.5rem;
    }
    #anclaNav{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: 100%;
        margin: 0%;
        margin-left: 10%;
        display: table;
    }

    .divTituloEnseñanza{
        width: 100vw;
        height: 100vh;
        background-color: #071928;
        margin: 0%;
        padding: 0%;
        margin-bottom: 10%;
    }
    .tituloEnseñanza{
        height: fit-content;
        margin: 0%;
        padding: 0%;
        font-family: Georgia,'Times New Roman', Times, serif;
        font-size: 2.5rem;
        font-weight: bolder;
        font-variant: small-caps;
        margin-top: 40vh;
    }
    .subtituloEnseñanzaUno{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.4rem;
        font-weight: bolder;
        color: #071928;
        margin: 0%;
        font-style: italic;
    }
    .subtituloEnseñanzaDos{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.4rem;
        font-weight: bolder;
        color: #071928;
        margin-top: 7%;
        font-style: italic;
    }
    .subtituloEnseñanzaDosDos{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.4rem;
        font-weight: bolder;
        color: #071928;
        font-style: italic;
        margin-bottom: 7%;
    }
    .subtituloEnseñanzaTres{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.4rem;
        font-weight: bolder;
        color: #071928;
        margin-top: 7%;
        font-style: italic;
    }
    .subtituloChicoEnseñanzaTres{
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 7%;
    }
    .contenidoUno{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenidoDos{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    .contenidoTres{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    .divParrafoEnseñanzaUno{
        width: 99%;
        margin: 0%;
    }
    .divSubtituloEnseñanzaUno{
        width: 90%;
    }
    .divParrafoEnseñanzaDos{
        width: 99%;
        margin: 0%;
    }
    .divSubtituloEnseñanzaDos{
        width: 99%;
    }
    .divParrafoEnseñanzaTres{
        width: 99%;
        margin: 0%;
        margin-top: 2%;
    }
    .divSubtituloEnseñanzaTres{
        width: 99%;
    }
    .parrafoEnseñanzaUno{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        margin-bottom: 15%;
        margin-top: 5%;
    }
    .parrafoEnseñanzaDos{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        margin-top: 5%;
    }
    .parrafoEnseñanzaDosDos{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        margin-top: 0;
    }
    .parrafoEnseñanzaTres{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        margin-top: 5%;
    }
    
    #navL:hover{
        text-decoration: underline;
    }
    #ancla{
        display: flex;
        width: fit-content;
        height: fit-content;
        margin-top: 5%;
        margin-left: 10%;
    }
    #divFooters{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #listFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divFooter{
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .liFooter:hover{
        text-decoration: underline;
    }
    .aFooter{
        text-decoration: none;
    }
}