@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    height: fit-content;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.divTitulo{
    background-color: #031c2d;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.divImgMauricio{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divTituloMauricio{
    margin: 0%;
    padding: 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloMauricio{
    color: #d3d5d7de;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 80px;
}
.imgMauricio{
    width: auto;
    height: 80vh;
}
.sectionNav {
    width: 100vw;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
}

.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
   
    
}
#navBarra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
}
#navL{
    font-family: 'Poppins', sans-serif;
}
#navL:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
    height: 2.5rem;
}
#ancla{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    margin-left: 2%;
}
.buttonTraductor{
    font-family: "Poppins", sans-serif;
    border: #071928, 1px, solid;
    margin-left: 1%;
    margin-right: 1%;
}

.divTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.divTitleDos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 70vw;
    padding-top: 10%;
    padding-bottom: 10%;
}
.parrafoTitulo{
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    line-height: 2;
    color:#071928;
    text-align: justify;
}
.buttonCV{
    width: 12vw;
    height: 6vh;
}
.navbar{
    height: 10vh;
}

.fondoFormacion{
    background-color:#071928;
    height: fit-content;
    width: 100vw;
}
.formacion{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 5%;
    background-color:#071928;
}
.divTituloFormacion{
    width: 100vw;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    margin-bottom: 5%;
    background-color:#071928;
   }
.tituloFormacion{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #d3d5d7de;
    margin: 0%;
    padding: 0%;
    margin-top: 5%;
}
#tarjeta{
    justify-content: space-around;
}
#tarjetaCol{
    width: 24%;
}
.parrafoCardInicio{
    color: #4d70a5;
    font-size: small;
    margin-bottom: 0%;
}
    .divFooter{
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
    }
    .liFooter:hover{
        text-decoration: underline;
    }
    .aFooter{
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    .aFooter:hover{
        text-decoration: underline;
    }
    .contenedorIcono {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    #iconoT{
        width: 2rem;
        height: 2rem;
    }
    #iconoT:hover{
        width: 2.5rem;
       height: 2.5rem;
    }
    #anclaNav{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: fit-content;
        margin-top: 3%;
        margin-left: 3%;
    }
    .iconoMail{
        font-size: x-large;
        margin-right: 1%;
    }
    .anclaFormacion{
        text-decoration: none;
        color: #071928;
    }
    .anclaFormacion:hover{
        text-decoration: none;
        color: #071928;
    }
    .sectionTwitter{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: fit-content;
    }
    #twitter{
        transform: scale(0.8); 
        transform-origin: top left; 
    }
    #twitterContainer {
        width: 100vw;
        height: 0; /* Inicialmente oculto */
        overflow: hidden; /* Evita que el contenido sobresalga */
        transition: height 0.5s ease-in-out; /* Animación suave */
    }
    
    #twitterContainer.expandido {
        height: fit-content; /* Altura completa cuando se expande */
    }
    #contenedorBoton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        margin-bottom: 10px;
        padding: 8px 16px;
        background-color: #071928; /* Color de Twitter */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
@media screen and (min-width: 0px) and (max-width: 768px){
    .navbar{
        height: 10vh;
    }
    .contenedorIcono {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    .contenedorNav {
        margin: 0%;
        padding: 0%;
        width: 50%;
        height: 5rem;
    }
    #navBarra{
        width: fit-content;
        margin-right: 5%;
        height: 5rem;
    }
    #navL{
        display: flex;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    #containerNav{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #navL:hover{
        text-decoration: underline;
    }
    #iconoT{
       width: 2rem;
       height: 2rem;
       margin-left: 5%;
       display: table-cell;
       vertical-align: middle;
    }
    #iconoT:hover{
        width: 2.5rem;
       height: 2.5rem;
    }
    #ancla{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: fit-content;
        margin-top: 5%;
        margin-left: 10%;
    }
    .sectionNav {
        width: 100%;
        margin: 0%;
        padding: 0%;
        flex-direction: row;
    }

    
    body{
        width: 100vw;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    .divTitulo{
        background-color: #031c2d;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .divImgMauricio{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .imgMauricio{
        width: 95vw;
        height: auto;
    }
    .divTituloMauricio{
        margin: 0%;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tituloMauricio{
        color: #d3d5d7de;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 15vw;
    }
    .divTitle{
        width: 100vw;
        height: fit-content;
    }
    .divTitleDos{
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .parrafoTitulo{
        font-family: "Poppins", sans-serif;
        font-size: 5vw;
        padding: 1%;
    }
    .buttonCV{
        width: 32vw;
        height: 4vh;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 5vw;
        margin: 0%;
        padding: 0%;
    }


    .fondoFormacion{
        width: 100vw;
        height: fit-content;
    }
    .formacion{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divTituloFormacion{
        height: fit-content;
        background-color:#071928;
        padding: 0%;
        margin: 0%;
       }
    .tituloFormacion{
        font-family: Georgia,'Times New Roman', Times, serif;
        font-size: 10vw;
        font-weight: bold;
        color: #d3d5d7de;
        margin-top: 0%;
        margin-bottom: 10%;
        margin-top: 10%;
        padding: 0%;
    }
    .anclaFormacion{
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #tarjetaCol{
        width: 95vw;
    }
    #navL:hover{
        text-decoration: underline;
    }
    #anclaNav{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: 100%;
        margin: 0%;
        margin-left: 10%;
        display: table;
    }
    #divFooters{
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    #listFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divFooter{
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    .liFooter:hover{
        text-decoration: underline;
    }
    .aFooter{
        text-decoration: none;
    }
    #contenedorBoton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
    }
    .sectionTwitter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
}