@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.mainPrensa{
    width: 100vw;
}
.navbar{
    height: 10vh;
}
.sectionNav {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
}

.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
    width: 50%;
    
}
#navBarra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}
#navL{
    font-family: 'Poppins', sans-serif;
}
#navL:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
    height: 2.5rem;
}
#ancla{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    margin-left: 2%;
}
#anclaNav{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    margin-left: 2%;
    text-decoration: none;
}


.footer{
    margin-top: 2%;
    margin-bottom: 2%;
}
.footerDos {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
    margin-bottom: 2%;

}

#tituloFooter{
    font-size: 1.7rem;
}
#tituloDosFooter{
    font-size: 1.7rem;
    margin-bottom: 0%;
}

.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
    width: 50%;
}
.divTituloDosFooter{
    margin-top: 2%;
}
#navLF{
    display: flex;
    margin-left: 3%;
    font-family: 'Poppins', sans-serif;
}
#navLF:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
   height: 2.5rem;
}
#ancla{
    text-decoration-line: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}
.iconoMail{
    font-size: x-large;
    margin-right: 1%;
}

#prensa{
    height: fit-content;
    width: 100vw;
    margin:0%
}
.divTituloPrensa{
    margin: 0%;
    height: 90vh;
    background-color: #071928;
    margin-bottom: 10%;
}
.divSubtituloPrensa{
    height: fit-content;
    margin-bottom: 10%;
}
.tituloPrensa{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 2.3rem;
    font-weight: bolder;
    font-variant: small-caps;
    color: #d3d5d7de;
    margin-top: 45vh;
}
.subtituloPrensa{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: #071928;
    margin: 0%;
}
.linkPrensa{
    text-decoration: none;
    width: fit-content;
}
.divPrensaUno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    width: 100vw;
    height: fit-content;
    margin-bottom: 10%;
}
.divPrensaDos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10%;
}
.divTarjetaPrensa{
    width: 33%;
    display: flex;
    justify-content: center;
}
.cardPrensa{
    width: 100%;
    height: fit-content;
}
.parrafoCardPrensa{
    color: #4d70a5;
}
.imgPrensaUno{
    width: 425px;
    height: 350px;
}
.imgPrensaUno:hover{
    width: 450px;
    height: 380px;
}
.imgPrensaNueve{
    width: 350px;
    height: 350px;
}
.imgPrensaNueve:hover{
    width: 375px;
    height: 380px;
}
.divVideo{
    width: 33%;
}
.divVideoUltimo{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
}
.videoPrensa{
    width: 420px;
    height: 350px;
}
.videoPrensa:hover{
    width: 450px;
    height: 380px;
}

#button{
    font-family: 'Poppins', sans-serif;
    border-color: #071928;
    font-size: 0.9rem;
    color: #071928;
    background-color: #ffffff;
    margin-top: 2%;
    border-radius: 0.2rem;
    width: 150px;
    height: 2rem;
}
#button:hover{
    width: 153px;
    height: 2.09rem;
}

@media screen and (min-width: 0px) and (max-width: 768px){
    body{
        width: 100vw;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    .mainPrensa{
        width: 100vw;
    }
    .row {
        width: 100%;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        flex-direction: row;
    }
    
    .contenedorIcono {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    
    .contenedorNav {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    #navBarra{
        width: fit-content;
        margin-right: 5%;
        background-color: white;
    }
    #navL{
        display: flex;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    #containerNav{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #navL:hover{
        text-decoration: underline;
    }
    #iconoT{
        width: 2rem;
        height: 2rem;     
        display: table-cell;
        vertical-align: middle;
    }
    #iconoT:hover{
        width: 2.5rem;
       height: 2.5rem;
    }
    #ancla{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: fit-content;
        margin-top: 5%;
        margin-left: 10%;
    }
    #anclaNav{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: 100%;
        margin: 0%;
        margin-left: 10%;
        display: table;
    }


    .divTituloDosFooter{
        margin-top: 2%;
        margin-bottom: 1%;
    }
    #tituloFooter{
        margin: 0%;
        font-size: 1.5rem;
    }
    #tituloDosFooter{
        font-size: 1.5rem;
        margin: 0%;
    }
    .iconoMail{
        font-size: 1rem;
        margin-right: 1%;
    }
    .row {
        width: 100%;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        flex-direction: row;
    }
    #navL:hover{
        text-decoration: underline;
    }
    #ancla{
        display: flex;
        width: fit-content;
        height: fit-content;
        margin-top: 5%;
        margin-left: 10%;
    }
    .footer{
        visibility: hidden;
    }

    #prensa{
        height: fit-content;
        width: 100vw;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divTituloPrensa{
        width: 100vw;
       height: 100vh;
       color: #071928;
    }
    .divSubtituloPrensa{
        width: 100vw;
        height: fit-content;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .tituloPrensa{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: bolder;
    font-variant: small-caps;
    margin-top: 50%;
}
    .subtituloPrensa{
        font-family: Georgia,'Times New Roman', Times, serif;
        font-size: 2.4rem;
        font-weight: bolder;
        color: #071928;
        margin-bottom: 2%;
    }
    
    .divPrensaUno{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }
    .divPrensaDos{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }
    .divVideo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99%;
        height: fit-content;
        margin-bottom: 15%;
    }
    .divVideoUltimo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99%;
        height: fit-content;
        margin-bottom: 20%;
    }
    .divTarjetaPrensa{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96vw;
        margin-bottom: 15%;
    }
    .cardPrensa{
        width: 96vw;
    }
    .parrafoCardPrensa{
        color: #4d70a5;
    }
    .imgPrensaUno{
        width: 95vw;
        height: 380px;
    }
    .imgPrensaUno:hover{
        width: 99vw;
        height: 380px;
    }
    .imgPrensaNueve{
        width: 99vw;
        height: 510px;
    }
    .imgPrensaNueve:hover{
        width: 95vw;
        height: 510px;
    }
    .videoPrensa{
        width: 95vw;
        height: 380px;
    }
    .videoPrensa:hover{
        width: 95vw;
        height: 350px;
    }
}