@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.navbar{
    height: 10vh;
}
.sectionNav {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
}

.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
    width: 50%;
    
}
#navBarra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}
#navL{
    font-family: 'Poppins', sans-serif;
}
#navL:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
    height: 2.5rem;
}

.footer{
    margin-bottom: 2%;
}
.footerDos {
    width: 100%;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
    margin-bottom: 2%;

}

#tituloFooter{
    font-size: 1.7rem;
}
#tituloDosFooter{
    font-size: 1.7rem;
    margin-bottom: 0%;
}

.contenedorIcono {
    margin: 0%;
    padding: 0%;
    width: 50%;
}

.contenedorNav {
    margin: 0%;
    padding: 0%;
    width: 50%;
}
.divTituloDosFooter{
    margin-top: 2%;
}
#navLF{
    display: flex;
    margin-left: 3%;
    font-family: 'Poppins', sans-serif;
}
#navLF:hover{
    text-decoration: underline;
}
#iconoT{
   width: 2rem;
   height: 2rem;
}
#iconoT:hover{
    width: 2.5rem;
   height: 2.5rem;
}
#ancla{
    text-decoration-line: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}
#anclaNav{
    text-decoration-line: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 3%;
    margin-left: 3%;
}
.iconoMail{
    font-size: x-large;
    margin-right: 1%;
}

#publicaciones{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divTituloPublicaciones{
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 7%;
}
.divSubtituloPublicaciones{
    height: fit-content;
    margin-bottom: 5%;
}
.tituloPublicacion{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 2.3rem;
    font-weight: bolder;
    font-variant: small-caps;
    color: #071928;
}
.subtituloPublicacion{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: #071928;
    margin-bottom: 2%;
}


.divPublicacionesUno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    margin-bottom: 5%;
}
.divPublicacionesDos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
    margin-bottom: 20%;
}
.divTarjetaPublicaciones{
    width: 33%;
    display: flex;
    justify-content: center;
}
.cardPublicacionesUno{
    width: 100%;
    height: fit-content;
    
}
.imgPublicacionUno{
    width: 420px;
    height: 300px;
}
.imgPublicacionUno:hover{
    width: 450px;
    height: 330px;
}
#cuerpoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.parrafoCard{
    color: #4d70a5;
}
.linkPubli{
    text-decoration: none;
}


.divLibroPublicacion{
    width: 60%;
    height: 70vh;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.libroPublicacionTitulo{
    color: #071928;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.libroPublicacion{
    color: #071928;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.libroPublicacionDos{
    color: #071928;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
@media screen and (min-width: 0px) and (max-width: 768px){
    body{
        width: 100vw;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
    }
    .row {
        width: 100vw;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        flex-direction: row;
    }
    .mainPubli{
        width: 100vw;
        height: fit-content;
    }
    .contenedorIcono {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    
    .contenedorNav {
        margin: 0%;
        padding: 0%;
        width: 50%;
    }
    #navBarra{
        width: fit-content;
        margin-right: 5%;
    }
    #navL{
        display: flex;
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    #containerNav{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #navL:hover{
        text-decoration: underline;
    }
    #iconoT{
        width: 2rem;
        height: 2rem;
        display: table-cell;
        vertical-align: middle;
    }
    #iconoT:hover{
        width: 2.5rem;
       height: 2.5rem;
    }
    #anclaNav{
        text-decoration-line: none;
        display: flex;
        width: fit-content;
        height: 100%;
        margin: 0%;
        margin-left: 10%;
        display: table;
    }



    #tituloFooter{
        font-size: 1.5rem;
    }
    #tituloDosFooter{
        font-size: 1.5rem;
        margin-bottom: 1%;
    }
    .iconoMail{
        font-size: 1rem;
        margin-right: 1%;
    }
    .row {
        width: 100%;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        flex-direction: row;
    }
    #navL:hover{
        text-decoration: underline;
    }

    .footer{
        visibility: hidden;
    }

    #publicaciones{
        height: fit-content;
        width: 100vw;
    }
    .linkPubli{
        text-decoration: none;
        width: 100%;
    }
    .divTituloPublicaciones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        height: 100vh;
    }
       .divSubtituloPublicaciones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        height: fit-content;
        margin-bottom: 10%;
    }
    .tituloPublicacion{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        font-weight: bolder;
        font-variant: small-caps;
        color: #071928;
        margin-top: 50%;
    }

    .subtituloPublicacion{
        font-family: Georgia,'Times New Roman', Times, serif;
        font-size: 2rem;
        font-weight: bolder;
        color: #071928;
        margin-bottom: 2%;
    }
    
    .divPublicacionesUno{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: fit-content;
    }
    .divPublicacionesDos{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0%;
        height: fit-content;
    }
    #cuerpoCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 99%;
    }
    .imgPublicacionUno{
        width: 89vw;
        height: 400px;
    }
    .imgPublicacionUno:hover{
        width: 89vw;
        height: 400px;
    }
    .cardPublicacionesUno{
        width: 90vw;
        height: 50vh;
    }
    .divTarjetaPublicaciones{
        width: 90vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        margin-bottom: 15%;
    }
    
    .parrafoCard{
        color: #4d70a5;
    }

    .divLibroPublicacion{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .libroPublicacionTitulo{
        color: #071928;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .libroPublicacion{
        color: #071928;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: start;
    
    }
    .libroPublicacionDos{
        color: #071928;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-style: italic;
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
}
